<!-- Localization completed -->
<div class="modal-header">
    <h4 class="modal-title" localized>devices.button.resetPassword</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label" localized>devices.label.newPassword</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" ng-model="passwordInput" localized-placeholder="devices.placeholder.password">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$close()" localized>button.submit</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()" localized>button.cancel</button>
</div>
